# Rippl GitIgnore File
#  To be spruced up (as far as comments and pretty ascii art) later

*.*

SDL*/
SDL*/*
boost*/
boost*/*

!*.cpp
!*.sln
!*.md
!*.c
!*.h
!*.hpp
!*.asm
!*.vcproj
!*.gitignore
!*.txt
!*.html
!*.css
!*.js
!*.xml
!*.cnf
!*.ini
!*.ico
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.bmp
!*.mp3
!*.wav
!*.ogg
!*.aiff
!*.aif
!*.tiff
!*.tif
!*.bin
!*.psd
!*.rc
!*.filters
!*.manifest
!*.rc2
!*.ai
!*.ttf
